.container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  height: 80vh;
  .topSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    > div {
      display: flex;
      align-items: center;
    }
    :global {
      .ant-input {
        height: 50px;
        border: 2px solid #008ff8;
        border-radius: 10px 0px 0px 10px;
        box-shadow: 1px 1px 7px rgba(0, 143, 248, 0.65);
      }
      .ant-btn.ant-btn-primary {
        width: 115px;
        height: 50px;
        border: none;
        border-radius: 0px 10px 10px 0px;
        box-shadow: 1px 1px 7px rgba(0, 143, 248, 0.65);
      }
    }
  }
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 94%;
    min-height: 800px;
    margin: 0 auto;
    .left {
      width: 17%;
      min-height: 300px;
      padding: 24px;
      background: #fff;
      border-radius: 13px;
      box-shadow: 0 2px 10px 0 #3464e026;
      user-select: none;
      .tagTitle {
        padding-bottom: 5px;
        color: #606266;
        font-weight: 500;
        font-size: 16px;
        border-bottom: 1px solid #3464e026;
      }
      .tagBox {
        .tagItem {
          display: flex;
          align-items: center;
          height: 35px;
          color: #606266;
          > span {
            text-indent: 24px;
            cursor: pointer;
          }
          > span:hover {
            color: #4baffa;
          }
        }
        .tagItem:first-of-type > span {
          text-indent: 0px;
        }
        .tagItem.active > span {
          color: #4baffa;
        }
      }
    }
    .right {
      width: 75%;
      .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .item {
          width: 31%;
          height: 185px;
          margin-bottom: 16px;
          padding: 24px;
          background-color: #fff;
          border-radius: 20px;
          cursor: pointer;
          .itemData {
            display: flex;
            > img {
              width: 40px;
              height: 40px;
              margin-right: 16px;
              border-radius: 50%;
            }
            .info {
              > div {
                display: flex;
                color: #979da3;
              }
              > div:first-of-type {
                color: #000000d9;
                font-weight: 500;
                font-size: 16px;
              }
              > div:nth-of-type(2) {
                height: 24px;
                margin: 5px 0px;
              }
              > div:last-of-type {
                height: 50px;
              }
            }
          }
          .itemInfo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            > span:first-of-type {
              color: #979da3;
            }
            > span:last-of-type {
              color: #008ff8;
            }

            > span:last-of-type:hover {
              color: #4baffa;
            }
          }
        }
      }
      .page {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
      }
    }
  }
}
